@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .planet {
    @apply block lg:absolute cursor-pointer;
  }

  .figureLayer {
    @apply z-0;
  }

  .textLayer {
    @apply z-10;
  }
}

body {
  font-family: "Bitter", serif;
  overflow-x: hidden;
}

h1 {
  font-size: clamp(2rem, 3vw, 3rem);
}

@media screen and (min-width: 1280px) {
  .insideBg {
    background-image: url("/src/assets/img/astronave.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.person{
    transform: scaleX(-1);
}

.biggerThanH1 {
  font-size: clamp(3rem, 5vw, 5rem);
}

.bgHome {
  background-color: #0f151c;
}
